n8n/workflows/Academic Sources Scraping.json
{
  "name": "Academic Sources Scraping",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://scraper_service:8000/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "muddan-nuvvuh-7zyvhY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "website_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "max_depth",
              "value": "2"
            },
            {
              "name": "category",
              "value": "={{ $json.category_id }}"
            }
          ]
        },
        "options": {
          "timeout": 900000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        320
      ],
      "id": "da3005d5-e272-4958-9884-9c8a94a72281",
      "name": "HTTP Request",
      "notesInFlow": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -304,
        144
      ],
      "id": "4a25f77b-7d5b-4712-b792-e9e9e07be29e",
      "name": "Loop Over Websites"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, domain, url, description, category_id \n  FROM websites \n  WHERE category_id = 1 \n  ORDER BY id DESC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -512,
        144
      ],
      "id": "7aec498a-43de-455a-98f0-7db6fe35afcc",
      "name": "Get Websites",
      "credentials": {
        "postgres": {
          "id": "XjR5TJfdQN2TCi6n",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -736,
        144
      ],
      "id": "67d8abf0-2743-43b6-ad95-1015ade2f571",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Websites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Websites": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Websites": {
      "main": [
        [
          {
            "node": "Loop Over Websites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Websites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f4c7abef-5da2-4dec-a854-5855bb225aba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ace676532ce958726b0c4ffedc40ba8ecf285de3dec650ceeb8e8d1bd3844dec"
  },
  "id": "qXRmQ3AlW82hdZMf",
  "tags": []
}