n8n/workflows/Scraping Academic Sources.json
{
  "name": "Scraping Academic Sources",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://compass_scraper_service:8000/start",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "muddan-nuvvuh-7zyvhY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "website_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "max_depth",
              "value": "2"
            },
            {
              "name": "category",
              "value": "={{ $json.category_id }}"
            }
          ]
        },
        "options": {
          "timeout": 900000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        176
      ],
      "id": "67b00d95-fa08-41d8-9a74-9959139b7f7a",
      "name": "HTTP Request",
      "notesInFlow": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        432,
        0
      ],
      "id": "6f923278-919a-4eb8-a0e2-184f7b244773",
      "name": "Loop Over Websites"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, domain, url, description, category_id \n  FROM websites \n  WHERE category_id = 1 \n  ORDER BY id DESC",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "id": "7d1b2dcf-bfba-4a65-b9e8-1d7b975f854c",
      "name": "Get Websites",
      "credentials": {
        "postgres": {
          "id": "QGoF20Ra74CRgkVh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                6
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "b715cd3a-a8a8-4271-9144-777344506784",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Websites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Websites": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Websites": {
      "main": [
        [
          {
            "node": "Loop Over Websites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Websites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c20c1650-03ed-4c1c-ace3-99951d8b29ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2e3b0a5f443db6941000335ed602e7f66865ee808a7567a89444158e7e72c88e"
  },
  "id": "eh2nu11RuZvrA2p6",
  "tags": []
}